* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;

}

.head {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 80%;
    background-color: rgb(234, 228, 239);
    position: relative;
}

.logo {
    display: flex;
    margin-left: 10px;
    justify-content: start;
    align-items: center;
    text-align: center;

}

.nav {
    padding: 10px;
    margin: 10px;


}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
}

.icons span {
    font-size: 12px;
}

.cart {
    position: absolute;
    width: 400px;
    padding: 15px;
    top: 0;
    right: -100%;
    background-color: rgb(248, 242, 242);
    height: 100%;
}

.cart.active {
    right: 0;
}

.cart #close-cart {
    position: relative;
    top: 25px;
    right: 20px;
}

.cart-head {
    display: flex;
    justify-content: space-between;
}

.cart .cart-list {
    list-style: none;

}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.box img {
    width: 100px;
    height: 100px;

}

.content {}

.content .prod-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: solid 2px rgb(82, 81, 81);
    padding: 15px;
    text-align: start;
    width: 250px;

}

.content img {
    height: 200px;
    width: 100%;

}

.login {}

.account{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 400px;
    padding: 15px;
    top: 0;
    right:-100%;
    background-color: rgb(248, 242, 242);
    height: max-content;

}
.account.active{
    right:0%;
}

.new-user{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin: auto;
    width: 400px;
    padding: 15px;
    top: 0px;
    right: -100%;
    background-color: rgb(248, 242, 242);
}
.new-user.active{
   right: 0;
}
.qty{
    display: flex;
    justify-content: space-between;
    align-items: center;
}